video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    display: block;
    margin: 0 auto;
}
body {
    background-color: rgb(236, 24, 24);
  }

.title{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
main{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
img{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
}
